__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.egg-info/
venv/
env/
env.bak/
*.bak
*.swp
.DS_Store
.idea/
*.iml
*.egg
staticfiles/
db.sqlite3
capstone/__pycache__/settings.cpython-312.pyc
shortnote/__pycache__/urls.cpython-312.pyc
